{% extends 'base.html' %}

{%  block conteudo %}
<header class="bg-dark text-white text-center py-4">
    <h1>Aula 4 - Banco de Dados com Flask</h1>
</header>
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">Nesta quarta aula, entramos no mundo dos bancos de dados em aplicativos Flask. Exploramos o uso do SQLAlchemy, uma biblioteca de mapeamento objeto-relacional poderosa, para interagir com bancos de dados. Aprendemos a criar modelos de dados, executar consultas e gerenciar registros em um banco de dados. Essa experiência foi fundamental para entender como armazenar e recuperar informações em nossas aplicações, tornando-as mais dinâmicas e funcionais. Estou animado para compartilhar esses conhecimentos, pois eles são essenciais para o desenvolvimento de aplicativos web robustos.</p>
                    <p class="card-text">Conteúdo da Aula 4:</p>
                    <ul>
                        <li>Uso do SQLAlchemy para interagir com bancos de dados.</li>
                        <li>Criação de modelos de dados.</li>
                        <li>Realização de operações CRUD (Create, Read, Update, Delete) em bancos de dados.</li>
                        <li>Armazenamento e recuperação de informações em um banco de dados.</li>
                    </ul>
                    <p class="card-text">Entender como usar bancos de dados é essencial para criar aplicativos Flask que armazenam e gerenciam informações de forma eficiente. Vamos começar!</p>
                    <a href="/projeto" class="card-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}