{% extends 'base.html' %}

{%  block conteudo %}
</head>
<body>
    <header class="bg-dark text-white text-center py-4">
        <h1>Aula 3 - Templates em Flask</h1>
    </header>
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">Nesta terceira aula, tive a oportunidade de explorar o uso de formulários em Flask, e foi uma experiência muito enriquecedora. Aprendi como criar formulários dinâmicos que os usuários podem preencher com informações. Foi interessante descobrir como o Flask nos permite criar formulários personalizados e como podemos processar os dados inseridos pelos usuários diretamente no nosso aplicativo.</p>
                        <p class="card-text">Aprendi a definir campos de entrada, adicionar validações para garantir a integridade dos dados e explorar técnicas para tornar nossos formulários mais interativos. Fiquei empolgado ao perceber como os formulários desempenham um papel fundamental na interação entre os usuários e nossas aplicações web. Estou ansioso para compartilhar essas experiências e conhecimentos, pois sei que os formulários são componentes essenciais para a criação de aplicativos web interativos e funcionais.</p>
                        <p class="card-text">Conteúdo da Aula 3:</p>
                        <ul>
                            <li>Uso de Jinja2 para criar templates.</li>
                            <li>Passagem de dados para templates.</li>
                            <li>Renderização dinâmica de conteúdo em páginas web.</li>
                            <li>Criação de páginas com estrutura HTML reutilizável.</li>
                        </ul>
                        <p class="card-text">Aprender a usar templates é fundamental para criar páginas web dinâmicas e reutilizáveis em suas aplicações Flask. Vamos começar!</p>
                        <a href="/projeto" class="card-link">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}