{% extends 'base.html' %}

{%  block conteudo %}
<header class="bg-dark text-white text-center py-4">
    <h1>Aula 6 - Implementação do CRUD em Flask</h1>
</header>
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">Na última aula deste curso de Desenvolvimento de Aplicações Web com Flask, vamos explorar as funcionalidades finais do nosso aplicativo e finalizar a implementação do CRUD (Create, Read, Update, Delete).</p>
                    <p class="card-text">Conteúdo da Aula 6:</p>
                    <ul>
                        <li>Finalização da funcionalidade de leitura de dados.</li>
                        <li>Apresentação de dados aos usuários.</li>
                        <li>Visão geral do aplicativo completo.</li>
                        <li>Próximos passos e recursos para aprimoramento.</li>
                    </ul>
                    <p class="card-text">Esta aula é um marco em nossa jornada, à medida que consolidamos nossos conhecimentos e habilidades para criar aplicativos web completos com Flask. Obrigado por participar deste curso!</p>
                    <a href="/projeto" class="card-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}