{% extends 'base.html' %}

{%  block conteudo %}
</head>
<body>
    <header class="bg-dark text-white text-center py-4">
        <h1>Aula 2 - Rotas em Flask</h1>
    </header>
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">Na segunda aula, eu aprofundei meus conhecimentos sobre rotas em Flask. Descobri como definir rotas para diferentes partes da minha aplicação e como passar informações através das URLs. Além disso, explorei técnicas avançadas para tornar minhas rotas mais flexíveis e dinâmicas. Foi uma experiência empolgante de aprendizado, e estou ansioso para compartilhar esses conhecimentos com vocês.</p>
                        <p class="card-text">Conteúdo da Aula 2:</p>
                        <ul>
                            <li>Entendendo o conceito de rotas em Flask.</li>
                            <li>Criando rotas usando decoradores.</li>
                            <li>Mapeando URLs para funções em sua aplicação Flask.</li>
                            <li>Passagem de parâmetros dinâmicos nas URLs.</li>
                            <li>Explorando casos avançados de roteamento.</li>
                        </ul>
                        <p class="card-text">Esta aula é fundamental para construir uma aplicação Flask completa, pois as rotas são o alicerce pelo qual os usuários interagem com seu aplicativo. Ao final desta aula, você estará preparado para criar suas próprias rotas e direcionar o tráfego da sua aplicação da maneira desejada.</p>
                        <a href="/projeto" class="card-link">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>



{% endblock %}