{% extends 'base.html' %}

{%  block conteudo %}
<<header class="bg-dark text-white text-center py-4">
    <h1>Aula 5 - Autenticação em Flask</h1>
</header>
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">Nesta aula, você aprenderá a implementar autenticação de usuários em aplicativos Flask.</p>
                    <p class="card-text">Conteúdo da Aula 5:</p>
                    <ul>
                        <li>Implementação de login e registro de usuários.</li>
                        <li>Uso de sessões para gerenciar a autenticação.</li>
                        <li>Proteção de rotas e recursos para usuários autenticados.</li>
                        <li>Gestão de contas de usuário.</li>
                    </ul>
                    <p class="card-text">Aprender a autenticar usuários é fundamental para criar aplicativos Flask seguros e proteger o acesso a recursos sensíveis. Vamos começar!</p>
                    <a href="/projeto" class="card-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}