{% extends 'base.html' %}

{%  block conteudo %}

</head>
<body>
    <header class="bg-dark text-white text-center py-4">
        <h1>Aula 1 - Introdução ao Flask</h1>
    </header>
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">Nesta primeira aula, quero compartilhar minha experiência no mundo do desenvolvimento web com Python usando o Flask. Começamos pelo básico, instalando o Flask e criando uma aplicação web simples. Aprendi como configurar rotas, criar páginas e compreender os princípios fundamentais do Flask. Foi uma jornada empolgante e estou animado para compartilhar o que aprendi. Vamos aprender juntos!</p>
                        <p class="card-text">Conteúdo da Aula 1:</p>
                        <ul>
                            <li>Instalação do Flask.</li>
                            <li>Criação da máquina virtual.</li>
                            <li>Entendendo rotas e views.</li>
                            <li>Exibindo conteúdo em um navegador.</li>
                        </ul>
                        <p class="card-text">Esta aula foi o ponto de partida para criar minhas próprias aplicações web com Flask.</p>
                        <a href="/projeto" class="card-link">Voltar</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}