{% extends 'base.html' %}

{%  block conteudo %}

{% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        {% for mensagem in mensagens %}
        <div class="alert alert-sucess" role="alert">
          {{ mensagem }}
        </div>  
        {% endfor %} 
      {% endif %}
{% endwith %}

<section id="contato" class="container mt-5">
  <h2>Entre em Contato</h2>
  <form action="" method="post">
    {{ formulario.csrf_token }}

    <div class="mb-4">
      <label for="nome" class="form-label">Nome:</label>
      {{ formulario.nome(class="form-control", placeholder="Digite aqui seu nome: " ) }}
    </div>

    <div class="mb-4">
      <label for="email" class="form-label">Email:</label>
      {{ formulario.email(class="form-control", placeholder="Digite aqui seu email: ") }}
    </div>

    <div class="mb-4">
      <label for="telefone" class="form-label">Telefone:</label>
      {{ formulario.telefone(class="form-control", placeholder= "Digite aqui seu telefone: ")}}
    </div>

    <div class="mb-5">
      <label for="conteudo" class="form-label">Conteúdo:</label>
      {{ formulario.conteudo(class="form-control", rows = "3", placeholder= "Digite aqui seu texto: ") }}
    </div>
    <div class="mb-5">
      {{ formulario.enviar(class="btn btn-success")}}
    </div>
   
  </form>
</section>
{% endblock %}

    

    
  

