{% extends 'base.html' %}

{%  block conteudo %}

{% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        {% for mensagem in mensagens %}
          <h3> {{ mensagem }} </h3> 
        {% endfor %} 
      {% endif %}
{% endwith %}

{% if dados_formulario %}
    <p>Dados do formulario: </p>
    <p>Nome: {{ dados_formulario.nome }} </p>
    <p>Telefone: {{ dados_formulario.telefone }}</p>
    <p>Email: {{ dados_formulario.email }} </p>
    <p>Conteudo: {{ dados_formulario.conteudo }}</p>
{% endif %}


<section id="contato" class="container mt-5">
  <h2>Entre em Contato</h2>
  <form action="" method="post">
    {{ formulario.csrf_token }}

    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      {{ formulario.nome }}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      {{ formulario.email }}
    </div>

    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone:</label>
      {{ formulario.telefone }}
    </div>

    <div class="mb-3">
      <label for="conteudo" class="form-label">Conteúdo:</label>
      {{ formulario.conteudo }}
    </div>

    {{ formulario.enviar }}
  </form>
</section>
{% endblock %}

    

    
  

