{% extends 'base.html' %}

{%  block conteudo %}

{% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        {% for mensagem in mensagens %}
          <h3> {{ mensagem }} </h3> 
        {% endfor %} 
      {% endif %}
{% endwith %}

{% if dados_formulario %}
    <p>Dados do formulario: </p>
    <p>Nome: {{ dados_formulario.nome }} </p>
    <p>Telefone: {{ dados_formulario.telefone }}</p>
    <p>Email: {{ dados_formulario.email }} </p>
    <p>Conteudo: {{ dados_formulario.conteudo }}</p>
{% endif %}

<h1>Entre em Contato</h1>
    <form action="" method="post">
        {{formulario.csrf_token}}

        <label for="nome">Nome:</label>
        {{formulario.nome}}

        <br>

        <label for="email">Email:</label>
        {{formulario.email}}
        <br>

        <label for="telefone">Telefone:</label>
        {{formulario.telefone}}
        <br>

        <label for="conteudo">Conteúdo:</label>
        {{formulario.conteudo}}
        <br>

        {{formulario.enviar}}

    </form>


{%  endblock %}
    

    
  

