{% extends 'base.html' %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        {% for mensagem in mensagens %}
        <div class="alert alert-sucess" role="alert">
          {{ mensagem }}
        </div>  
        {% endfor %} 
      {% endif %}
{% endwith %}

<div class="container my-5 fill-screen">
  <div class="row">
      <div class="col-md-6 mt-5">
          <h2>Curso de Programador de Sistemas</h2>
          <p>No Senac, estudei metodologias ágeis e programação em Python com a framework Flask. Este curso proporcionou uma base sólida em desenvolvimento de sistemas e me permitiu explorar o mundo da programação web de forma prática e eficaz.</p>
      </div>

      <div class="col-md-6 mt-5">
          <h2>GitHub</h2>
          <p>Confira meu perfil no GitHub para acompanhar meus projetos e contribuições: <a href="https://github.com/seu-usuario" target="_blank">GitHub</a></p>
      </div>
  </div>

  <div class="row my-6">
      <div class="col-md-6 mt-5">
          <h2>Atividades Extracurriculares</h2>
          <ul>
              <li>Participação em grupos de estudo de programação</li>
              <li>Desenvolvimento de projetos pessoais</li>
              <li>Participação em hackathons</li>
          </ul>
      </div>

      <div class="col-md-6 mt-5">
          <h2>Experiência Profissional</h2>
          <ul>
              <li>Estágio em desenvolvimento web na Empresa ABC</li>
              <li>Desenvolvimento de um sistema de gerenciamento de tarefas</li>
              <li>Participação em projetos de equipe</li>
          </ul>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5 mb-5">
        <h2>Blog do Curso</h2>
        <p>Este blog que estou desenvolvendo é uma atividade do curso de Programador de Sistemas no Senac. É uma oportunidade emocionante para aplicar o conhecimento adquirido e continuar aprendendo no mundo da programação web.</p>
    </div>
  </div>
</div>
{% endblock %}


