{% extends 'base.html' %}

{%  block conteudo %}

{% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        {% for mensagem in mensagens %}
        <div class="alert alert-sucess" role="alert">
          {{ mensagem }}
        </div>  
        {% endfor %} 
      {% endif %}
{% endwith %}



<div class="container mt-5">
  <div class="card login-card mb-3">
    <div class="card-header login-card-header">
      <h4 class="mt-3">Página de Login</h4>
    </div>
    <div class="card-body mt-5">
      <form action="{{ url_for('login') }}" method="post">
        <div class="mb-3">
          <label for="email" class="form-label ">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-sucess">Entrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
