{% extends 'base.html' %}

{% block conteudo %}

<div class="container my-5">
  <div class="row">
      <div class="col-md-6">
          <h2>Sobre Mim</h2>
          <p>Olá, meu nome é José Manoel e sou estudante do Bacharelado Interdisciplinar em Ciências e Tecnologia. Atualmente, estou empenhado em explorar um mundo de conhecimento e oportunidades neste campo fascinante.</p>

          <h2>Formação Acadêmica</h2>
          <p><strong>Curso:</strong> Bacharelado Interdisciplinar em Ciências e Tecnologia</p>
          <p><strong>Universidade:</strong> Universidade Federal do Rio Grande do Norte - UFRN</p>
          <p><strong>Ano de Ingresso:</strong> 2021</p>
          <p class="mb-3"><strong>Previsão de Conclusão:</strong> 2025</p>
      </div>

      <div class="col-md-6">
          <h2 class="mb-3">Interesses</h2>
          <p>Tenho uma paixão pelo mundo da ciência e da tecnologia, e estou constantemente explorando novas descobertas e avanços. Minhas áreas de interesse incluem Ciência e Tecnologia, Pesquisa Interdisciplinar e Inovação. Sempre em busca de desafios que impulsionem o conhecimento!</p>

          <h2>GitHub</h2>
          <p>Confira meu perfil no GitHub para acompanhar meus projetos e contribuições: <a href="https://github.com/seu-usuario" target="_blank">GitHub</a></p>
      </div>
  </div>

  <div class="row my-4">
      <div class="col-md-6">
          <h2 class="mb-3">Hobbies</h2>
          <ul>
              <li>Leitura de livros relacionados à ciência e tecnologia</li>
              <li>Prática de esportes ao ar livre, como trilhas e ciclismo</li>
              <li>Voluntariado em projetos comunitários</li>
          </ul>
      </div>

      <div class="col-md-6">
          <h2>Habilidades</h2>
          <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript</li>
              <li>Python</li>
              <li>Desenvolvimento Web</li>
              <li>Resolução de Problemas</li>
          </ul>
      </div>
  </div>
</div>

{% endblock %}

